<!DOCTYPE html>
<html>
  <head>
  
  
{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}



    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/all_tags">All tags </a></li>
<li><a href="/pieces_of_code">Pieces of code</a></li>
<li><a href="/bioinfo">Bioinfo trainings</a></li>
<li><a href="/machine_learning">Machine learning</a></li>
<li><a href="/books">Online books</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="https://github.com/mzuer/mzuer.github.io">View on GitHub</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:zuffereymarie0@gmail.com">email</a></li>
   <li><a href="https://github.com/mzuer">github</a></li>
   </ul>
  </footer>
  </body>

</html>
